body
{
	background-color: #181818;
	background-image: url('../img/bg000000.png');
    background-attachment: fixed;
	color: #55c055;
	font-family: Tahoma;
	font-size: 20px;
	margin: 0;
}
body.indexbody
{
    background-image: url('../img/bg000000.jpg');
}

h1
{
	color: orange;
	font-size: 22px;
    text-indent: 50px;
    text-align: left;
}

h2
{
	color: orange;
	font-size: 22px;
    text-align: center;
}

p
{
	color: #55c055;
    text-indent: 50px;
    text-align: justify;
    font-size: 20px;
    font-family: Tahoma;
    padding-left: 15px;
	padding-right: 15px;
}

table
{
    font-size: 20px;
    font-family: Tahoma;
}

li
{
    text-align: justify;
    padding-right: 15px;
}
.choiseAmp {
    display: inline-block; /* Строчно-блочный элемент */
    background:  transparent; /*#181818; Цвет фона */
    width: 240px; /* Ширина */
    margin: 0 10px 10px 0; /* Отступы */
    padding: 10px 0; /* Поля сверху и снизу */
    text-align: left; /* Выравнивание по центру */
    border: 5px #ff0000; /* Параметры рамки */
    border-style: groove double;
   }

